@import "variables";

@mixin form-element {
  border: $base-border solid $gray;
  border-radius: $base-border-radius;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: $black;
  display: block;
  width: 100%;
  margin: {
    top: 0.5rem;
    bottom: 0.5rem;
  }
  font-family: $primary-font;

  &::placeholder {
    color: $black;
    opacity: 0.5;
  }
}
