//Fonts
$primary-font: "Barlow", sans-serif;

//Colors
$black: #232323;
$red: #b72c30;
$gray: #c6c6c6;
$white: #ffffff;

//Sizes
$base-border: 1px;
$base-border-radius: 10px;
$header-height: 5.625rem;
$form-button-width: 220px;

//Breakpoints
$desktop: 1024px;
$tablet: 768px;
