@import "variables";

.container {
  margin-bottom: -1rem;
}

.button {
  background: none;
  border: none;
}

.cross {
  &:hover {
    cursor: pointer;
  }
}

.draggable {
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}
