@import "variables";

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  border-bottom: $base-border solid $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.125rem;
  background-color: $white;
  z-index: 100;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 120px;
}

.heading {
  display: none;
  font-weight: normal;
  margin-left: 1.25rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (min-width: $tablet) {
  .container {
    padding: {
      left: 10vw;
      right: 10vw;
    }
  }

  .heading {
    display: block;
  }

  .logo {
    border-right: $base-border solid $black;
    padding-right: 1rem;
  }
}

@media (min-width: $desktop) {
  .container {
    padding: {
      left: 15vw;
      right: 15vw;
    }
  }

  .logo {
    width: 150px;
  }
}
