@import "variables";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

.heading {
  text-transform: uppercase;
}

.result {
  display: block;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

@media (min-width: $tablet) {
  .result {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: $desktop) {
  .result {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
